<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Avesh_Faq::faq" title="FAQ" module="Avesh_Faq" sortOrder="30" resource="Avesh_Faq::faq" dependsOnConfig="faq_settings/general_settings/enabled"/>
        <add id="Avesh_Faq::faq_add" title="Add Faq" sortOrder="10" module="Avesh_Faq" parent="Avesh_Faq::faq" action="managefaq/faq/new" resource="Avesh_Faq::faq_add"/>
        <add id="Avesh_Faq::faq_list" title="Faq List" sortOrder="20" module="Avesh_Faq" parent="Avesh_Faq::faq" action="managefaq/faq/" resource="Avesh_Faq::faq_list"/>
    </menu>
</config>
